#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #1f2937;
}

#sort-options {
    display: flex;
    width: 50vw;
    color: white;
}

.sort-option {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#chart-options {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: #6366f1;
    border: 0px;
    padding: 0.5rem;
    height: 5vh;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn:disabled {
    opacity: 50%;
}

#delay-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#arrSize-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#sort-btn {
    width: 5vw;
    margin-right: 2rem;
}

@media only screen and (max-width: 1080px) {
    #nav-container {
        display: flex;
        flex-direction: column;
    }
    #sort-options {
        display: flex;
        justify-content: space-around;
    }
    .sort-option {
        text-align: center;
    }
    #chart-options {
        display: flex;
        justify-content: space-between;
    }
    #delay-container {
        margin: 0.5rem
    }
    #arrSize-container {
        margin: 0.5rem
    }
    #sort-btn {
        width: 10vw;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #random-btn {
        padding: 0.3rem;
        overflow: hidden;
        margin-right: 0.5rem;
        width: 13vw;
    }
    p {
        display: none;
    }
}