.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#barchart-container {
  height: 30vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1f2937;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#code-tc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55.7vh;
  background-color: #1f2937;
  padding: 2rem;
}

#code {
  text-align: start;
  background-color: #374151;
  color: #d1d5db;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  height: auto;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  margin-right: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tc {
  text-align: start;
  background-color: #374151;
  color: #d1d5db;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: auto;
  overflow-y: auto;
}

@media only screen and (max-width:1000px) {
  #barchart-container {
    overflow-x: auto;
  }

  #code {
    height: 30vh;
  }

  #tc {
    height: 20vh;
  }

  ::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
    margin-right: 0.25rem;
  }
}
  