.container {
  display: flex;
  justify-content: center;
}

.barchart {
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sort-btn {
  height: 2rem;
  margin: 2rem;
}